{% extends '@Axisubs/Admin/tabs/tab.twig' %}
{% block body %}
   {% set customerMeta = item['meta'] %}
   {% set customerPrefix = item['ID']~'_'~item['post_type']~'_' %}
   <div class="axisubs wrap">
      {% set user_id = customerMeta[customerPrefix~'user_id'] %}
      <h1 class="wp-heading-inline">{{ pagetitle }}</h1>
      <form id="my_profile" method="post" action="?page=customers-index&task=edit&id={{ user_id }}">
         <div class="axisubs-fields-con">
            {% if(newuser) %}
               <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                     <label for="axisubs_wp_user_id">Add</label>
                  </div>
                  <div class="axisubs-fields-content">
                     <div>
                        <select name="add_type" id="axisubs_add_type" onchange="addCustomertype(this.value);">
                           <option value="0">New</option>
                           <option value="1">Existing</option>
                        </select>
                     </div>
                     <span class="help-text">Add new customer or from existing Wordpress user</span>
                  </div>
               </div>
               <div class="axisubs-fields axisubs_wordpress_user_selectbox axisubs_customer_add_existing">
                  <div class="axisubs-fields-label">
                     <label for="axisubs_wp_user_id">Wordpress user</label>
                  </div>
                  <div class="axisubs-fields-content">
                     <div>
                        {{ newCustomersSelectBox | raw }}
                     </div>
                     <span class="help-text">Select a user.</span>
                  </div>
               </div>
            {% endif %}
            <div class="axisubs-fields axisubs_customer_add_existing">
               <div class="axisubs-fields-label">
                  <label for="axisub_plan_name">User Name</label>
               </div>
               <div class="axisubs-fields-content">
                  <div id="axisubs-wordpress_username_text">
                     {{ wp_userD['user_login'] }}
                  </div>
                  <span class="help-text">Username cannot be changed.</span>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_first_name">
                     First Name
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'first_name'] }}" name="axisubs[subscribe][first_name]" id="axisubs_subscribe_first_name"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_last_name">
                     Last Name
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'last_name'] }}" name="axisubs[subscribe][last_name]" id="axisubs_subscribe_last_name"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_last_name">
                     Email
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'email'] }}" name="axisubs[subscribe][email]" id="axisubs_subscribe_email"/>
               </div>
            </div>
            {% if(newuser) %}
               <div class="axisubs_wordpress_user_passwords axisubs_customer_add_new">
                  <div class="axisubs-fields">
                     <div class="axisubs-fields-label">
                        <label for="axisubs_user_password1">
                           Password
                        </label>
                     </div>
                     <div class="axisubs-fields-content">
                        <input type="password" class="required" name="axisubs[user][password1]" id="axisubs_user_password1"/>
                     </div>
                  </div>
                  <div class="axisubs-fields">
                     <div class="axisubs-fields-label">
                        <label for="axisubs_user_password2">
                           Repeat Password
                        </label>
                     </div>
                     <div class="axisubs-fields-content">
                        <input type="password" class="required" name="axisubs[user][password2]" id="axisubs_user_password2"/>
                     </div>
                  </div>
               </div>
            {% endif %}
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_address_line1">
                     Address Line 1
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'address_line1'] }}" name="axisubs[subscribe][address_line1]" id="axisubs_subscribe_address_line1"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_address_line2">
                     Address Line 2
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" name="axisubs[subscribe][address_line2]" value="{{ customerMeta[customerPrefix~'address_line2'] }}" id="axisubs_subscribe_address_line2"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_city">
                     City
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'city'] }}" name="axisubs[subscribe][city]" id="axisubs_subscribe_city"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_pincode">
                     Zip code
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" value="{{ customerMeta[customerPrefix~'pincode'] }}" name="axisubs[subscribe][pincode]" id="axisubs_subscribe_pincode"/>
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_country">
                     Country
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  {{ data['country'] | raw }}
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_province">
                     State
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  {{ data['province'] | raw }}
               </div>
            </div>
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <label for="axisubs_subscribe_phone">
                     Phone
                  </label>
               </div>
               <div class="axisubs-fields-content">
                  <input type="text" class="required" value="{{ customerMeta[customerPrefix~'phone'] }}" name="axisubs[subscribe][phone]" id="axisubs_subscribe_phone"/>
               </div>
            </div>
            {% if(newuser) %}
               <div class="axisubs-user-message-con">
                  <div class="axisubs-user-message-text hide message">
                  </div>
               </div>
            {% endif %}
            <div class="axisubs-fields">
               <div class="axisubs-fields-label">
                  <input type="hidden" name="edit_task" value="save"/>
                  <input type="hidden" name="id" value="{{ user_id }}"/>
                  <input type="hidden" id="site_url" name="site_url" value="{{ site_url }}"/>
               </div>
               <div class="axisubs-fields-content page-btn">
                  {% if(newuser) %}
                     <button class="button button-primary" type="button" onclick="addCustomer()">Save</button>
                     <input type="hidden" name="task" value="addCustomer"/>
                  <script>
                     addCustomertype('0');
                  </script>
                  {% else %}
                     <button class="button button-primary" type="submit">Update</button>
                  {% endif %}
                  <a class="button" href="?page=customers-index">Cancel</a>
               </div>
            </div>
         </div>
      </form>
   </div>
{% endblock %}
