{% extends '@Axisubs/Admin/tabs/tab.twig' %}

{% block body %}
<div class="axisubs wrap">
  {% if pagetitle %}
  <h1 class="wp-heading-inline">
    {{ pagetitle }}
  </h1>
  {% endif %}

  {% set customer = data['customer'] %}
  {% set customerMeta = customer['meta'] %}
  {% set customerPrefix = customer['ID']~'_'~customer['post_type']~'_' %}
  {% set subscription = data['subscription'] %}
  {% set subscriptionMeta = subscription['meta'] %}
  {% set subscriptionPrefix = subscription['ID']~'_'~subscription['post_type']~'_' %}
  <form name="subscriptionForm" id="subscriptionForm" method="post" action="?page=subscriptions-index&user_id={{ customerMeta[customerPrefix~'user_id'] }}" onsubmit="return validatePlan();">
    <h1 class="wp-heading-inline">User Details</h1>
      <div class="axisubs-fields-con">
         <div class="axisubs-fields">
             <div class="axisubs-fields-label">
                 <label>User Name</label>
             </div>
             <div class="axisubs-fields-content">
                {{ customerMeta[customerPrefix~'first_name']~' '~customerMeta[customerPrefix~'last_name'] }}
             </div>
         </div>
         <div class="axisubs-fields">
             <div class="axisubs-fields-label">
                <label>Email</label>
             </div>
             <div class="axisubs-fields-content">
                 {{ customerMeta[customerPrefix~'email'] }}
             </div>
         </div>
      </div>
      <h1 class="wp-heading-inline">Subscription Details</h1>
      <div class="axisubs-fields-con">
          <div class="axisubs-fields">
              <div class="axisubs-fields-label">
                  <label for="axisub_plan_name">Plan</label>
              </div>
              <div class="axisubs-fields-content">
                  {{ data['planSelectbox'] | raw }}
              </div>
          </div>
          <div class="axisubs-fields">
              <div class="axisubs-fields-label">
                  <label for="subscribe_start_on">Start Date</label>
              </div>
              <div class="axisubs-fields-content">
                  <input type="text" class="axisubs_date" name="subscribe_start_on" id="subscribe_start_on" value="{{ subscriptionMeta[subscriptionPrefix~'start_on'] }}"/>
                  <span class="help-text">Specify this if you want to start this subscription at a future date. Further if the selected plan has 'Trial' period configured it will go into 'Trial' state when it starts on the above specified date.</span>
              </div>
          </div>
          <div class="autopopulate_fields">
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_trial_start_on">Trial starts on</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_trial_start_on" id="subscribe_trial_start_on" value="{{ subscriptionMeta[subscriptionPrefix~'trial_start_on'] }}"/>
                  </div>
              </div>
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_trial_ends_on">Trial ends on</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_trial_ends_on" id="subscribe_trial_ends_on" value="{{ subscriptionMeta[subscriptionPrefix~'trial_end_on'] }}"/>
                  </div>
              </div>
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_start_on1">Subscription start on</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_start_on1" id="subscribe_start_on1" value="{{ subscriptionMeta[subscriptionPrefix~'start_on'] }}"/>
                  </div>
              </div>
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_end_on">Subscription ends on</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_end_on" id="subscribe_end_on" value="{{ subscriptionMeta[subscriptionPrefix~'end_on'] }}"/>
                  </div>
              </div>

              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_price">Price</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_price" id="subscribe_price" value="{{ subscriptionMeta[subscriptionPrefix~'price'] }}"/>
                  </div>
              </div>
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_setup_cost">Setup cost</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_setup_cost" id="subscribe_setup_cost" value="{{ subscriptionMeta[subscriptionPrefix~'setup_cost'] }}"/>
                  </div>
              </div>
              <div class="axisubs-fields">
                  <div class="axisubs-fields-label">
                      <label for="subscribe_total">Total</label>
                  </div>
                  <div class="axisubs-fields-content">
                      <input type="text" disabled="disabled" name="subscribe_total" id="subscribe_total" value="{{ subscriptionMeta[subscriptionPrefix~'total_price'] }}"/>
                  </div>
              </div>
          </div>
          <div class="axisubs-fields">
              <div class="axisubs-fields-label">
                  <input type="hidden" name="task" value="addNewSubscription"/>
                  <input type="hidden" name="sid" value="{{ subscription['ID'] }}"/>
              </div>
              <div class="axisubs-fields-content">
                  <button class="button button-primary" type="button" onclick="addNewSubscription()">Save</button>
                  <a class="button" href="?page=subscriptions-index">Cancel</a>
              </div>
          </div>
      </div>
      <input type="hidden" id="site_url" value="{{ site_url }}"/>
  </form>
</div>
{% endblock %}
