<div class="axisubs wrap">
    {{ message | raw }}
    {% if item['ID'] > 0 %}
        {% set id = item['ID'] %}
    <form action="{{ data['plan_url'] }}" method="post">
      <div class="sub-title">
        <h3>{{__('[:ru]Информация об оплате[:ro]Informații de plată')}}</h3>
      </div>
        <div class="axisubs-plan_details">
          <!-- <div class="plans-header">
            <div class="axisubs-plan_details-title">
                {{ pagetitle }}
            </div>
            <div class="axisubs-plan-price-title">
              Item Price
            </div>
          </div> -->
          <div class="axisubs-plan_details-summary">
            <div class="content-plan">
              <div class="plan_list">
                <div class="list-image bs">
                    {% if meta[id~'_axisubs_plans_image'] == '' %}
                        <img src="{{ data['plugin_url'] }}/resources/assets/images/ico_noimage.png">
                    {% else %}
                        <img src="{{ meta[id~'_axisubs_plans_image'] }}">
                    {% endif %}
                </div>
                <div class="list-content">
                    {{ meta[id~'_axisubs_plans_name'] }}
                </div>
                <div class="desc">
                    {{ meta[id~'_axisubs_plans_description'] }}
                </div>
              </div>
              <div class="axisubs-plan-prices">
                <div class="axisubs-plan-basic-fee">
                  <div class="axisubs-plan-fee">
                     {{__('[:ru]Цена[:ro]Preț')}}:
                    {% if meta[id~'_axisubs_plans_price'] is defined and meta[id~'_axisubs_plans_price'] > 0 %}
                        {{ currencyData['code']~meta[id~'_axisubs_plans_price'] }}
                    {% else %}
                        {{ currencyData['code']~'0' }}
                    {% endif %}
                    </div>
                  </div>
                  {% if ((meta[id~'_axisubs_plans_setup_cost']>0) and (meta['allow_setupcost'] == "1")) %}
                  <div class="axisubs-plan-setup-fee">
                    <div class="axisubs-plan-setup-fee-text">
                        Setup Cost:
                        <span class="axisubs-plan-setup-fee-amt">
                          {{ currencyData['code']~meta[id~'_axisubs_plans_setup_cost'] }}
                        </span>
                    </div>
                  </div>
                  {% endif %}
              </div>
            </div>
            {{ data['content_in_price_list'] | raw }}
            <hr>
            <div class="axisubs-plan-total-fee">
              {{__('[:ru]Всего[:ro]Total')}}:
              <span class="axisubs-plan-total-fee-amt">
                  {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_total_price'] }}
              </span>
            </div>
          </div>
        </div>
        <!-- <h3>Billing Info</h3>
        <table class="table axisubs-plan-billinfo-con">
        <tbody>
          <tr>
            <td><strong>Customer name</strong></td>
            <td>{{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_first_name'] }}
            {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_last_name'] }}</td>
          </tr>
          <tr>
            <td><strong>Email</strong></td>
            <td>{{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_email'] }}</td>
          </tr>
          <tr>
            <td><strong>Address</strong></td>
            <td>{{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line1'] }},
            {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line2'] }},
            {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_city'] }},
            {{ data['province'] }},
            {{ data['country'] }}</td>
          </tr>
          {% if(subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_company'] != '') %}
          <tr>
              <td><strong>Company</strong></td>
              <td>{{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_company'] }}</td>
          </tr>
          {% endif %}
          {% if(subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_vat_number'] != '') %}
          <tr>
              <td><strong>Tax number</strong></td>
              <td>{{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_vat_number'] }}</td>
          </tr>
          {% endif %}
        </tbody>
        </table> -->

        <div class="axisubs-plan-payment-con">
            <input type="hidden" name="task" value="updateFreePlan"/>
            <input type="hidden" name="s_id" value="{{ subscriber['ID'] }}"/>
            <div class="axisubs-plan-payment-i-block">
                <div class="axisubs-plan-payment-button">
                    {% if meta[id~'_axisubs_plans_type'] == 'free' %}
                    <button class="btn-vacancyes" type="submit">{{__('[:ru]Подтвердить подписку[:ro]Confirmă abonarea')}}</button>
                    {% else %}
                        <button class="btn-vacancyes" type="button" onclick="submitAxisubsPayment()">Pay now</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
        {{ data['paymentForm'] | raw }}
        <input type="hidden" id="site_url" value="{{ site_url }}"/>
    {% else %}
        <div class="axisubs-plan-notfound">
            Invalid Data
        </div>
    {% endif %}
</div>
